<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>welcome mail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body
    style="
      font-family: 'Times New Roman', sans-serif;
      margin: 0;
      box-sizing: border-box;
      width: 100%;
    "
  >
    <!-- start of main table -->
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      style="padding: 0; margin: 0 auto"
    >
      <!-- logo ROW -->
      <tr style="text-align: center" width="100%">
        <td
          align="middle"
          style="
            background-color: #ffffff;
            min-height: 88px;
            text-align: center;
            padding: 0.6rem 0;
            border-bottom: 1px solid #f0f0f0;
            width: 100%;
          "
        >
          <img
            style="
              width: 140px;
              height: 36px;
              padding: 0.9rem 0;
              display: block;
              text-align: center;
              margin: 0 auto;
            "
            src="https://res.cloudinary.com/salvoagency/image/upload/v1636216109/kreatesell/mailimages/KreateLogo_sirrou.png"
            alt="logo"
          />
        </td>
      </tr>

      <tr
        width="100%"
        border="0"
        align="center"
        cellpadding="0"
        cellspacing="0"
        style="padding: 0; margin: 0 auto; max-width: 600px"
      >
        <td style="padding: 0.2rem 0.2rem 2rem 0.2rem">
          <!-- start of table 3-->
          <table
            width="100%"
            border="0"
            align="center"
            cellpadding="0"
            cellspacing="0"
            style="padding: 0; margin: 0 auto; max-width: 600px"
          >
            <tr width="100%">
              <td style="max-width: 600px; margin: 0 auto; padding: 0 2rem">
                <p
                  style="
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 22px;
                    margin-bottom: 1rem;
                    margin-top: 2rem;
                    text-align: center;
                  "
                >
                  Welcome on board!😀
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  We are glad to have you as a member of our financially f-ree
                  community. Thank you for signing up on KreateSell.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  I trust that you are ready to begin your money-making journey.
                  As you must have heard, KreateSell is where you earn more,
                  while doing less.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  We have all the tools and facilities you need to start earning
                  huge streams of income from digital products both as a creator
                  and as an affiliate.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  You are welcome on board in this plane of overflowing wealth.
                  Make sure you fasten your seatbelt as we take you on the ride
                  of financial fre-edom.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  My name is Blessing, with the KreateSell team and in the next
                  couple of days, I would be your guide on seamlessly using
                  KreateSell.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  Now that you have successfully signed up and verified your
                  KreateSell account, you might be wondering what next?
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  Well! I’ve got you covered. Sit back and relax! I am here to
                  guide you through.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  In the next mail, I would take you through setting up your
                  KreateSell store for lifetime success. So that you can be well
                  on your way to earning massively with no stress at all.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  For a quick fix, check out these
                  <a href="/" style="text-decoration: none"
                    >short step-by-step videos</a
                  >
                  that would walk you through effortlessly using KreateSell to
                  achieve real financial f-reedom.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  If you have any questions, comments or feedback, we would love
                  to hear from you.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  Send us an email at
                  <a
                    style="text-decoration: none"
                    href="mailto:support@kreatesell.com"
                    >support@kreatesell.com</a
                  >
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  I look forward to our next conversation.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  Your new friend,<br />
                  Blessing from KreateSell.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  <span style="font-weight: 700">P.S:</span> Do you know that
                  KreateSell has a
                  <span style="color: purple">business plan</span> that gives
                  you much more features, benefits and value than the fre-e
                  plan?
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  As a premium member using the KreateSell business plan, you
                  get:
                </p>

                <ul
                  style="
                    width: 100%;
                    line-height: 1.8;
                    padding: 0 0.1rem 0 0.1rem;
                  "
                >
                  <li>Round the clock customer support</li>
                  <li>
                    An army of affiliates to promote your digital products and
                    bring in an overflow of customers through our Affiliate
                    marketing program
                  </li>
                  <li>
                    To put up your digital product so people can access it
                    worldwide without stress through your unique KreateSell
                    store
                  </li>
                  <li>
                    To easily receive your payment from anywhere in the world
                    with no currency barrier because of our partnerships with
                    the best payment processors on the internet
                  </li>
                  <li>
                    Help with following up on visitors who don’t end up buying
                    your product through our Abandoned Cart Email feature
                  </li>
                  <li>
                    To claim full rights to your digital products and be
                    protected from pirates through our customisable stamping
                    feature
                  </li>
                  <li>
                    Your payments to affiliates done automatically for you
                    without disturbing you
                  </li>
                  <li>
                    Your digital product delivered to buyers automatically while
                    you get notified
                  </li>
                  <li>
                    Space to sell as many digital products as you want and earn
                    massively, up to 15GB
                  </li>
                  <li>
                    To sell in any currency and get your settlement in any of
                    the 21 supported currencies based on the local currency of
                    your default country
                  </li>
                  <li>
                    To automatically receive your settlement after a successful
                    sale, depending on your currency and country
                  </li>
                  <li>
                    To set up membership digital products and earn consistently
                    when your customers subscribe to access your content either
                    monthly or yearly
                  </li>
                  <li>To allow Webinar replays online streaming</li>
                  <li>
                    To access social proof to help your visitors make the buying
                    decision immediately
                  </li>
                  <li>To use a personalised domain of your choice</li>
                  <li>
                    To set a pre-order in anticipation of the launch of your
                    digital product
                  </li>
                  <li>
                    To set discount coupons for your digital product offers
                  </li>
                </ul>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  Good news! We are giving the first 100 people to join this
                  exclusive premium business plan on KreateSell a very
                  discounted fee of 4,999 NGN/month.
                </p>

                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  Others get to pay the features and benefit worthy fee of
                  50,000 NGN/month if they are not privileged to fall within the
                  first 100 subscribers.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  As I write to you, 79 people have already invested this token
                  and are subscribed as members of the premium business package,
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  Because they understand that they are getting benefits that
                  are worth far more than the fee they are paying.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  Now, the premium membership is bringing them weekly income
                  that is more than 5X of the fee they paid.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  Instead of using the money to buy things that they would not
                  get any money returns on,
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  They used their money wisely and are now premium members of
                  KreateSell enjoying all the benefits we have mentioned that
                  come with being premium members.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  Now, I know you would love to enjoy the privileges too. Won’t
                  you?
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  That's why I am telling you about this opportunity and
                  advising you to subscribe now with this highly discounted fee
                  of 4,999 NGN/month,
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  Because I don't want you to miss out on this once in a
                  lifetime opportunity.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  Save 90% of your money when you subscribe to the Premium
                  KreateSell business plan now and join the list of early
                  premium members.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  This exclusive opportunity closes as soon as the available
                  space fills up and trust me, the space is filling up fast.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  So, don't miss out! Stop everything you are doing and
                  subscribe now.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  The clock is ticking.
                </p>

                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  <a href="/" style="text-decoration: none">Click to join</a>
                  the Exclusive KreateSell Business Plan Now!
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  Do you know that many people are cashing out of KreateSell by
                  making huge amounts of commissions from referrals daily? You
                  could be part of them too.
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  <a href="/" style="text-decoration: none"
                    >Click to become an affiliate on KreateSell today!</a
                  >
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                >
                  Cheers!
                </p>
                <p
                  style="
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0.5rem;
                  "
                ></p>
              </td>
            </tr>
          </table>
          <!-- end of table 3-->
        </td>
      </tr>
    </table>

    <table
      width="100%"
      style="
        background-color: #e6f7ff;
        margin: 0 auto;
        max-width: 600px;
        margin-top: 1rem;
        text-align: center;
        padding: 2rem 2rem 0.2rem;
      "
    >
      <tr>
        <td>
          <p style="font-size: 14px; line-height: 24px; color: #262626">
            You received this email because you subscribed to receive emails
            from
            <a href="https://www.kreatesell.com" style="text-decoration: none"
              >kreatesell.com.</a
            >
            Click on
            <a href="/" style="text-decoration: none">unsubscribe</a> if you no
            longer want to receive emails from KreateSell.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="font-size: 14px; line-height: 24px; color: #262626">
            Stay in touch
          </p>
        </td>
      </tr>
      <tr
        style="max-width: 600px; background-color: #e6f7ff; text-align: center"
      >
        <td style="padding: 1rem; text-align: center">
          <a
            style="display: inline-block; margin-right: 0.2rem"
            href="https://www.facebook.com/usekreatesell"
            ><img
              src="https://res.cloudinary.com/salvoagency/image/upload/v1649340859/kreatesell/mailimages/Vector_kbbxdd.png"
              alt="facebook"
          /></a>
          <a
            style="display: inline-block; margin-right: 0.2rem"
            href="https://twitter.com/usekreatesell"
            ><img
              src="https://res.cloudinary.com/salvoagency/image/upload/v1649340979/kreatesell/mailimages/Vector_wndvvl.png"
              alt="twitter"
          /></a>
          <a
            style="display: inline-block; margin-right: 0.2rem"
            href="https://www.linkedin.com/company/usekreatesell"
            ><img
              src="https://res.cloudinary.com/salvoagency/image/upload/v1649340938/kreatesell/mailimages/Vector_hvapqp.png"
              alt="linkedIn"
          /></a>
          <a style="display: inline-block" href="https://wa.me/+2349016324945"
            ><img
              src="https://res.cloudinary.com/salvoagency/image/upload/v1649341195/kreatesell/mailimages/WhatsApp_fiidij.png"
              alt="WhatsApp"
          /></a>
        </td>
      </tr>
      <tr>
        <td>
          <footer
            style="
              color: #262626;
              font-size: 12px;
              line-height: 18px;
              text-align: center;
              margin-top: 1rem;
            "
          >
            <span
              style="
                color: #323232;
                font-size: 1rem;
                font-weight: 400;
                margin-right: 0.2rem;
              "
              >&copy; <span style="margin-right: 0.2rem">2022</span> KreateSell.
              All rights reserved
            </span>
          </footer>
        </td>
      </tr>
    </table>

    <!-- end of main table-->
  </body>
</html>
