<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>affliate approved by creator notification</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body
    style="
      font-family: Inter, sans-serif;
      margin: 0;
      box-sizing: border-box;
      width: 100%;
    "
  >
    <!-- start of main table -->
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      style="padding: 0; margin: 0 auto"
    >
      <!-- logo ROW -->
      <tr style="text-align: center" width="100%">
        <td
          align="middle"
          style="
            background-color: #ffffff;
            min-height: 88px;
            text-align: center;
            padding: 0.6rem 0;
            border-bottom: 1px solid #f0f0f0;
            width: 100%;
          "
        >
          <img
            style="
              width: 140px;
              height: 36px;
              padding: 0.9rem 0;
              display: block;
              text-align: center;
              margin: 0 auto;
            "
            src="../local-assets/KreateLogo.png"
            alt="logo"
          />
        </td>
      </tr>
      <!-- END OF LOGO -->
      <!-- SECOND IMAGE STARTS HERE -->
      <tr style="height: 100%; width: 100%; position: relative" align="middle">
        <td style="padding: 2rem 2rem 0; top: 80px; text-align: center">
          <img
            style="width: 200px; height: 200px; margin-bottom: 2rem"
            src="../local-assets/verified.png"
            alt="verified"
          />
        </td>
      </tr>
      <!-- END OF SECOND IMAGE -->

      <tr
        width="100%"
        border="0"
        align="center"
        cellpadding="0"
        cellspacing="0"
        style="padding: 0; margin: 0 auto; max-width: 600px"
      >
        <td
          style="
            background-image: url('https://res.cloudinary.com/salvoagency/image/upload/v1636216108/kreatesell/mailimages/bgImg_pylpxe.png');
            background-repeat: repeat;
            background-position: 50% 50%;
            position: relative;
            top: -110px;
            padding: 5rem 0.2rem 2rem 0.2rem;
          "
        >
          <!-- initial setup between  lines 78-79
            border: 1px solid red; 
            position: relative;
            top: -130px;
            padding: 5rem 0.2rem 2rem 0.2rem;
            
            NEW SETUP: 
            position: relative;
            padding: 0rem 0.2rem 2rem 0.2rem;
            ;
        -->
          <!-- start of table 3-->
          <table
            width="100%"
            border="0"
            align="center"
            cellpadding="0"
            cellspacing="0"
            style="padding: 0; margin: 0 auto; max-width: 600px"
          >
            <tr>
              <td style="max-width: 600px; margin: 0 auto; padding: 1rem 2rem">
                <h1
                  style="
                    text-transform: capitalize;
                    font-weight: bold;
                    color: #595959;
                    max-width: 676px;
                    margin: 0 auto;
                    /* margin-top: 0.5rem;
                       margin-bottom: 0.5rem; */
                    font-weight: 800;
                    font-size: 28px;
                    line-height: 40px;
                  "
                >
                  This is amazing {{ Affiliate's First Name}}
                </h1>
              </td>
            </tr>
            <tr width="100%">
              <td
                style="max-width: 600px; margin: 0 auto; padding: 0.2rem 2rem"
              >
                <p
                  style="
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    margin-bottom: 1rem;
                  "
                >
                  {{Kreator’s First Name}} has approved your request to promote
                  {{product name}}.
                </p>
                <p
                  style="
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    margin-bottom: 1rem;
                  "
                >
                  Your unique referral link is ready.
                </p>
                <p
                  style="
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    margin-bottom: 1rem;
                  "
                >
                  Check your approved requests on your dashboard for the link.
                </p>
              </td>
            </tr>
            <tr width="100%" style="position: relative; top: -1rem">
              <td style="text-align: center">
                <a
                  href="#"
                  style="
                    color: #0072ef;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    width: 100%;
                    margin-top: 3rem;
                    line-height: 28px;
                    font-size: 18px;
                  "
                  >Go to Dashboard
                </a>
              </td>
            </tr>
            <tr width="100%">
              <td
                style="max-width: 600px; margin: 0 auto; padding: 0.2rem 2rem"
              >
                <p
                  style="
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    margin-bottom: 1rem;
                  "
                >
                  You can now start widely promoting the link and receiving your
                  commission every time someone buys using the link.
                </p>
                <p
                  style="
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    margin-bottom: 1rem;
                  "
                >
                  You are doing well on your journey to massive wealth
                  accumulation as a member of the KreateSell affiliate program.
                </p>
                <p
                  style="
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    margin-bottom: 1rem;
                  "
                >
                  Cheers!
                </p>
                <p style="font-weight: 500; font-size: 16px; line-height: 26px">
                  KreateSell team.
                </p>
              </td>
            </tr>
          </table>
          <!-- end of table 3-->
        </td>
      </tr>
    </table>
    <!-- end of table 5-->
    <!-- <table width="100%" -->

    <table width="100%" style="max-width: 600px; margin: 0 auto">
      <tr width="100%">
        <td>
          <p
            style="
              text-align: center;
              font-size: 14px;
              line-height: 24px;

              padding: 2.3rem 0.8rem 0.2rem;
              border-top: 2px solid #f0f0f0;
              background-image: url('https://res.cloudinary.com/salvoagency/image/upload/v1636216108/kreatesell/mailimages/bgImg_pylpxe.png');
              background-repeat: repeat;
              background-position: 50% 50%;
            "
          >
            Got any concerns? Reach out to us on
            <a
              style="color: #0072ef; text-decoration: none"
              href="mailto:help@kreatesell.com"
              >help@kreatesell.com
            </a>
          </p>
        </td>
      </tr>
    </table>
    <table
      width="100%"
      style="
        background-color: #e6f7ff;
        margin: 0 auto;
        max-width: 600px;
        margin-top: 1rem;
        text-align: center;
        padding: 2rem 2rem 0.2rem;
      "
    >
      <tr>
        <td>
          <p style="font-size: 14px; line-height: 24px; color: #262626">
            Looking for where to showcase and sell your products?
            <a
              style="color: #0072ef; text-decoration: none"
              href="https://www.kreatesell.com/signup"
              >Sign up here
            </a>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p
            style="
              font-size: 14px;
              line-height: 24px;
              color: #262626;
              max-width: 584px;
              margin: 0.5rem auto 1rem;
            "
          >
            Earn attractive commissions by promoting fast-selling digital
            products as an affiliate. Click the button below to start earning
            now.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <a
            style="
              background-color: #0072ef;
              text-transform: capitalize;
              padding: 16px;
              border-radius: 8px;
              color: #ffffff;
              outline: none;
              border: none;
              cursor: pointer;
              font-weight: 700;
              margin: 1rem auto;
              text-decoration: none;
              margin-bottom: 1rem;
              display: inline-block;
            "
            href="#"
          >
            join now
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <p style="font-size: 14px; line-height: 24px; color: #262626">
            Stay in touch
          </p>
        </td>
      </tr>
      <tr
        style="max-width: 600px; background-color: #e6f7ff; text-align: center"
      >
        <td style="padding: 1rem; text-align: center">
          <a
            style="display: inline-block; margin-right: 0.2rem"
            href="https://www.facebook.com/usekreatesell"
            ><img
              src="https://res.cloudinary.com/salvoagency/image/upload/v1649340859/kreatesell/mailimages/Vector_kbbxdd.png"
              alt="facebook"
          /></a>
          <a
            style="display: inline-block; margin-right: 0.2rem"
            href="https://twitter.com/usekreatesell"
            ><img
              src="https://res.cloudinary.com/salvoagency/image/upload/v1649340979/kreatesell/mailimages/Vector_wndvvl.png"
              alt="twitter"
          /></a>
          <a
            style="display: inline-block; margin-right: 0.2rem"
            href="https://www.linkedin.com/company/usekreatesell"
            ><img
              src="https://res.cloudinary.com/salvoagency/image/upload/v1649340938/kreatesell/mailimages/Vector_hvapqp.png"
              alt="linkedIn"
          /></a>
          <a style="display: inline-block" href="https://wa.me/+2349016324945"
            ><img
              src="https://res.cloudinary.com/salvoagency/image/upload/v1649341195/kreatesell/mailimages/WhatsApp_fiidij.png"
              alt="WhatsApp"
          /></a>
        </td>
      </tr>
      <tr>
        <td>
          <footer
            style="
              color: #262626;
              font-size: 12px;
              line-height: 18px;
              text-align: center;
              margin-top: 1rem;
            "
          >
            <span
              style="
                color: #323232;
                font-size: 1rem;
                font-weight: bold;
                margin-right: 0.2rem;
              "
              >&copy; <span style="margin-right: 0.2rem">2022</span> KreateSell.
              All rights reserved
            </span>
          </footer>
        </td>
      </tr>
    </table>

    <!-- end of main table-->
  </body>
</html>
